.link-hover {
    color: #111111;
}

.link-hover:hover {
    color: #1b4ea0;
}

.link-not-hover {
    color: #1b4ea0;
}

.link-not-hover:hover {
    color: #1b4ea0;
    
}

.btn-custom {
    color: #1b4ea0;
    background-color: white;
    border-color: #1b4ea0;
}
.btn-custom:hover {
    background: #1b4ea0;
    border-color: white;
    color: white;
}

.text-custom {
    color: #1b4ea0;
}


/* Video */
.video-courses .box-video{
    width: 100%; height: 600px
}

.video-courses .box-video iframe{
    width: 100%; height: 100%;
}

.video-courses .box-video video{
    width: 100%; height: 100%;
}

.btn-small {
    padding: .05rem 0.2rem;
    font-size: .85rem;
}

.bg-custom {
    background-color: #F5F5F5;
}