.login_oueter {
    width: 410px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.line {
    border-bottom: 1px solid #dadde1;
    width: 90%;
    margin: 20px;
}


.logo_outer {
    text-align: center;
}

.logo_outer img {
    width: 120px;
    margin-bottom: 40px;
}