/* Order detail css */
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #009CFF;
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #009CFF;
    color: #fff;
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd;
}

.track .step.active .text {
    font-weight: 400;
    color: #000;
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

/* Order detail css end*/


/* Tăng giảm số lượng thêm giỏ hàng */
input,
textarea {
        border: none;
        box-sizing: border-box;
        margin: 0;
        outline: none;
        padding: 10px;
        font-size: 25px;
        }

        input[type="button"] {
        cursor: pointer;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        }

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #ffffff;
  font-size: 25px;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
  border: none;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 50px;
  padding: 0;
  width: 50px;
  position: relative;
  background-color: #ebebeb;
}

.input-next {
    height: 50px;
    width: 170px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    overflow: hidden;
}

.input-next-cart {
    height: 50px;
    width: 130px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    overflow: hidden;
}


.input-group .quantity-field {
  position: relative;
  left: -6px;
  text-align: center;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    padding: 0 20px;
    display: inline-block;
}

.input-group .quantity-field-cart {
    position: relative;
    left: -6px;
    text-align: center;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
    height: 50px;
    width: 60px;
    border-radius: 50px;
    padding: 0 20px;
    display: inline-block;
}
  

.button-plus {
  left: -13px;
}

/* Tăng giảm số lượng thêm giỏ hàng end*/


/* Mini cart */
.mini-cart li:hover {
	background-color: #f3f3f3;
}

.badge {
	background-color: $primary-color;
	margin-bottom: 10px;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.shopping-cart {
	margin: 20px 0;
	float: right;
	background: white;
	width: 400px;
	height: 100vh;
	position: relative;
	border-radius: 3px;
	padding: 20px;
	box-shadow: 0 0 5px gray;
	position: fixed;
	top: -20px;
	right: 0;
	z-index: 1;
	display: none;
}

.shopping-cart .shopping-cart-header {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 15px;
}


.cart-icon {
	color: #515783;
	font-size: 24px;
	margin-right: 7px;
	float: left;
}

.button {
	background: $primary-color;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;


}
