/* Inline styles moved from views\home\categories.php */
.view-home-categories-inline-1 { background-color: #F9F1FF; }
.view-home-categories-inline-2 { background-color: #FAF4EB; }
.view-home-categories-inline-3 { background-color: #F4E5E4; }
.view-home-categories-inline-4 { background-color: #E5F2F4; }
.view-home-categories-inline-5 { background-color: #FEF6F6; }
.view-home-categories-inline-6 { background-color: #F9F1FF; }
.view-home-categories-inline-7 { background-color: #FEF6F6; }